<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.adobe.busbooking">

    <application
        android:name=".DemoApplication"
        android:allowBackup="true"
        android:icon="@drawable/bus_ic"
        android:label="Bus Demo"
        android:supportsRtl="true"
        android:theme="@style/MaterialTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:label">
        <activity
            android:name=".test"
            android:label="@string/title_activity_test"
            android:theme="@style/MaterialTheme.NoActionBar"></activity>
        <activity
            android:name=".ProductString"
            android:label="@string/title_activity_productstring"
            android:theme="@style/MaterialTheme.NoActionBar" />
        <activity
            android:name=".MyWebView"
            android:label="@string/title_activity_web_view"
            android:theme="@style/MaterialTheme.NoActionBar" />
        <activity
            android:name=".PrivacyActivity"
            android:label="@string/title_activity_privacy"
            android:theme="@style/MaterialTheme.NoActionBar" />
        <activity
            android:name=".AppCrashActivity"
            android:label="@string/title_activity_app_crash"
            android:theme="@style/MaterialTheme.NoActionBar" />
        <activity android:name=".BusBookingActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="com.adobe.example.busbooking"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <activity android:name=".SecondActivity" />
        <activity android:name=".OfferDetailsActivity" />
        <activity android:name=".SampleFragmentActivity" />
    </application>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>